---
http_interactions:
- request:
    method: get
    uri: http://sosol.perseus.tufts.edu/bsp/morphologyservice/analysis/word?engine=morpheus&lang=lat&word=homo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"RDF":{"Annotation":{"about":"urn:TuftsMorphologyService:homo:morpheus","hasTarget":{"Description":{"about":"urn:word:homo"}},"hasBody":{"resource":"urn:uuid:7369360c-cb51-45cc-96d9-32a285e465e1"},"title":null,"creator":{"Agent":{"about":"org.perseus:tools:morpheus.v1"}},"created":"27\nAug\n2013\n16:51:29\nGMT","Body":{"about":"urn:uuid:7369360c-cb51-45cc-96d9-32a285e465e1","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dict":{"hdwd":{"lang":"lat","$":"homo"},"pofs":{"order":3,"$":"noun"},"decl":"3rd","gend":"masculine\/feminine"},"infl":[{"term":{"lang":"lat","stem":"hom","suff":"o_"},"pofs":{"order":3,"$":"noun"},"decl":"3rd","case":{"order":7,"$":"nominative"},"gend":"masculine","num":"singular","stemtype":"o_inis"},{"term":{"lang":"lat","stem":"hom","suff":"o_"},"pofs":{"order":3,"$":"noun"},"decl":"3rd","case":{"order":7,"$":"nominative"},"gend":"feminine","num":"singular","stemtype":"o_inis"}]}}}}}}'
  recorded_at: Tue, 27 Aug 2013 16:53:11 GMT
recorded_with: VCR 2.5.0
