---
http_interactions:
- request:
    method: get
    uri: http://sosol.perseus.tufts.edu/bsp/morphologyservice/analysis/word?engine=morpheus&lang=lat&word=multa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"RDF":{"Annotation":{"about":"urn:TuftsMorphologyService:multa:morpheus","hasTarget":{"Description":{"about":"urn:word:multa"}},"hasBody":[{"resource":"urn:uuid:07311bdf-8d61-49be-8dbc-8b4c230ea162"},{"resource":"urn:uuid:d7f1fbc4-e566-46f1-8e84-7dc9f0df6e86"},{"resource":"urn:uuid:199c1736-103a-4f7e-bf40-c8fce788f320"},{"resource":"urn:uuid:03501282-1778-44e8-a6b5-6a158015f8e3"}],"title":null,"creator":{"Agent":{"about":"org.perseus:tools:morpheus.v1"}},"created":"27\nAug\n2013\n16:51:21\nGMT","Body":[{"about":"urn:uuid:07311bdf-8d61-49be-8dbc-8b4c230ea162","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dict":{"hdwd":{"lang":"lat","$":"multus"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd"},"infl":[{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":7,"$":"nominative"},"gend":"neuter","num":"plural","stemtype":"us_a_um"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":1,"$":"vocative"},"gend":"neuter","num":"plural","stemtype":"us_a_um"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":4,"$":"accusative"},"gend":"neuter","num":"plural","stemtype":"us_a_um"},{"term":{"lang":"lat","stem":"mult","suff":"a_"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":3,"$":"ablative"},"gend":"feminine","num":"singular","stemtype":"us_a_um"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":7,"$":"nominative"},"gend":"feminine","num":"singular","stemtype":"us_a_um"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":2,"$":"adjective"},"decl":"1st\n&\n2nd","case":{"order":1,"$":"vocative"},"gend":"feminine","num":"singular","stemtype":"us_a_um"}]}}},{"about":"urn:uuid:d7f1fbc4-e566-46f1-8e84-7dc9f0df6e86","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dict":{"hdwd":{"lang":"lat","$":"multo2"},"pofs":{"order":1,"$":"verb"}},"infl":{"term":{"lang":"lat","stem":"mult","suff":"a_"},"pofs":{"order":1,"$":"verb"},"mood":"imperative","num":"singular","pers":"2nd","tense":"present","voice":"active","stemtype":"conj1","derivtype":"are_vb"}}}},{"about":"urn:uuid:199c1736-103a-4f7e-bf40-c8fce788f320","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dict":{"hdwd":{"lang":"lat","$":"multa"},"pofs":{"order":3,"$":"noun"},"decl":"2nd","gend":"neuter"},"infl":[{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":3,"$":"noun"},"decl":"2nd","case":{"order":7,"$":"nominative"},"gend":"neuter","num":"plural","stemtype":"us_i"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":3,"$":"noun"[...]
