---
http_interactions:
- request:
    method: get
    uri: http://sosol.perseus.tufts.edu/bsp/morphologyservice/analysis/word?engine=morpheus&lang=lat&word=multa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"RDF":{"Annotation":{"about":"urn:TuftsMorphologyService:multa:morpheus","hasTarget":{"Description":{"about":"urn:word:multa"}},"hasBody":[{"resource":"urn:uuid:86ca9250-cbe9-49fc-b2b5-833dc3fb4283"},{"resource":"urn:uuid:eba64956-06ef-48c3-b09e-2fc78c151686"},{"resource":"urn:uuid:4f6cd563-5f2d-4ce5-9e43-01689aff9587"},{"resource":"urn:uuid:b165c562-d2a9-4390-bcf2-8404fbbb8323"}],"title":null,"creator":{"Agent":{"about":"org.perseus:tools:morpheus.v1"}},"created":"29\nAug\n2013\n15:36:15\nGMT","Body":[{"about":"urn:uuid:86ca9250-cbe9-49fc-b2b5-833dc3fb4283","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dict":{"hdwd":{"lang":"lat","$":"multa1"},"pofs":{"order":3,"$":"noun"},"decl":"1st","gend":"feminine"},"infl":[{"term":{"lang":"lat","stem":"mult","suff":"a_"},"pofs":{"order":3,"$":"noun"},"decl":"1st","case":{"order":3,"$":"ablative"},"gend":"feminine","num":"singular","stemtype":"a_ae"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":3,"$":"noun"},"decl":"1st","case":{"order":7,"$":"nominative"},"gend":"feminine","num":"singular","stemtype":"a_ae"},{"term":{"lang":"lat","stem":"mult","suff":"a"},"pofs":{"order":3,"$":"noun"},"decl":"1st","case":{"order":1,"$":"vocative"},"gend":"feminine","num":"singular","stemtype":"a_ae"}]}}},{"about":"urn:uuid:eba64956-06ef-48c3-b09e-2fc78c151686","type":{"resource":"cnt:ContentAsXML"},"rest":{"entry":{"uri":null,"dic[...]
