---
http_interactions:
- request:
    method: get
    uri: http://sosol.perseus.tufts.edu/bsp/morphologyservice/analysis/word?engine=morpheus&lang=lat&word=notexisting
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"RDF":{"Annotation":{"about":"urn:TuftsMorphologyService:notexisting:morpheus","hasTarget":{"Description":{"about":"urn:word:notexisting"}},"title":null,"creator":{"Agent":{"about":"org.perseus:tools:morpheus.v1"}},"created":"29\nAug\n2013\n15:41:29\nGMT"}}}'
  recorded_at: Thu, 29 Aug 2013 15:43:18 GMT
recorded_with: VCR 2.5.0
